<?xml version='1.0' encoding='utf-8'?>
<widget id="org.squiggle.manhuntgps" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ManHuntGPS</name>
    <description>
	GPS driven hide and seek
    </description>
    <author email="geoff@squiggle.org" href="http://www.squiggle.org">
        Geoff Kendal
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-googlemaps" spec="~2.5.4-beta-20190320-1419">
        <variable name="API_KEY_FOR_IOS" value="AIzaSyAow7s2NcWrkRdXOkNV-vipYTJ3kQeyRgI" />
    </plugin>
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
</widget>
