

    <div id="map_canvas"></div>

        <div class="row">
            <div class="col-4">
                <button class="btn btn-default w-100" type="button" id="button01">Button 1</button>
            </div>
            <div class="col-4">
                <button class="btn btn-default w-100" type="button" id="button02">Button 2</button>
            </div>
            <div class="col-4">
                <button class="btn btn-default w-100" type="button" id="button03">Button 3</button>
            </div>
        </div>

    <div id='playerId'></div>
    <div id='logOutput'></div>

